<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - My Webpage</title>
    <meta charset="utf-8">
    <meta content="index" name="robots">
    <link type="text/css" href="/static/css/style.css?v=10" rel="stylesheet">
    <link href="/images/favicon.png" rel="shortcut icon">
    <script src="static/js/jquery.1.6.4.min.js"></script><script src="static/js/app.js?v=10"></script>
    {% endblock %}
</head>
<body>
    <div id="content">
        <header>
            <h1><a href="/">Lamer News</a> <small>0.10.0</small></h1>
            <nav><a href="/">top</a> <a href="/latest/0">latest</a> <a href="/submit">submit</a></nav> 
            <nav id="account">
            {% if g.user %}
                <a href="/user/{{ g.user.username }}">{{ g.user.username }} ({{ g.user.karma }})</a> | <a href="/logout?apisecret={{ g.user.apisecret  }}">logout</a>
            {% else %}
                <a href="/login">login / register</a>
            {% endif %}
            </nav>
        </header>
        {% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        <footer>
        <a href="http://github.com/antirez/lamernews">source code</a> | <a href="/rss">rss feed</a> | <a href="http://twitter.com/lamernews">twitter</a> | <a href="http://groups.google.com/group/lamernews">google group</a>
        </footer>
        {% if g.user %}
        <script>var apisecret = '{{ g.user['apisecret']  }}';</script><script>setKeyboardNavigation();</script>
        {% endif %}
        {% endblock %}
    </div>
</body>


