{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<div class="container">
<div id="content">
    <h2>Latest news</h2>
    
<section id="newslist">

{% for story in news %}
    <article data-news-id="{{ story.id }}"><a href="#up" class="uparrow">&#9650;</a>
    {% if story.url[0:4] == 'text' %}
        <h2><a href="/news/{{ story.id }}" rel="nofollow">{{ story.title }}</a></h2> 
    {% else %}
        <h2><a href="{{ story.url }}" rel="nofollow">{{ story.title }}</a></h2> 
    {% endif %}
    <address>at {{ story.url }}</address><a href="#down" class="downarrow">&#9660;</a>
    <p>{{ story.up }} up and {{ story.down }} down, posted by <username><a href="/user/{{ story.user }}">{{ story.user }}</a></username> 7 hours ago <a href="/news/{{ story.id }}">0 comments</a></p>
    </article>
{% endfor %}

<a href="/latest/100" class="more">[more]</a></section>
</div>
{% endblock %}

