{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <div id="content">


<section id="newslist">
<article data-news-id="{{ story.id }}">
        <a href="#up" class="uparrow">&#9650;</a> 
        <h2><a href="/news/{{ story.id }}" rel="nofollow">{{ story.title }}</a></h2> 
        <address>{% if story.url[0:4] != 'text' %} at {{ story.url }}  {% endif %}</address>
        <a href="#down" class="downarrow">&#9660;</a>
        <p>{{ story.up }} up and {{ story.down }} down, posted by <username><a href="/user/{{ story.username }}">{{ story.username }}</a> </username> 114 days ago <a href="/news/{{ story.id }}">{{ story.comments }} comments</a></p>
</article>
</section>


{% if story.url[0:4] == 'text' %}
<topcomment>
<article class="comment" data-comment-id="1097-" style="margin-left:0px" id="1097-">
<span class="avatar"><img src="http://gravatar.com/avatar/7379345fed54f2447537068ed1c2e440?s=48&amp;d=mm"></span>
<span class="info"><span class="username"><a href="/user/{{ story.username  }}">{{ story.username }}</a></span> 114 days ago.   </span>
<pre>{{ story.url[7:] }}</pre></article></topcomment><form name="f"><input value="1097" type="hidden" name="news_id"><input value="-1" type="hidden" name="comment_id"><input value="-1" type="hidden" name="parent_id"><br>

{% endif %}

<textarea cols="60" rows="10" name="comment"></textarea><br>   
<input value="Send comment" type="button" name="post_comment"></form><div id="errormsg">



</div>
<div id="comments">
</div>
<script>
            $(function() {
                $("input[name=post_comment]").click(post_comment);
            });
        </script>
</div>
</div>
{% endblock %}



