{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<div class="container">
<div id="content">
<div class="userinfo">
    <span class="avatar"><img src="http://gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?s=48&amp;d=mm"></span> 
<ul>
<li>
<b>created </b>4 seconds ago
</li>
<li>
<b>karma </b>{{ user.karma  }} points
</li>
<li>
<b>posted news </b>0
</li>
<li>
<b>posted comments </b>0
</li>
<li>
<a href="/saved/0">saved news</a>
</li>
<li>
<a href="/usercomments/{{user.username}}/0">user comments</a>
</li>
<li>
<a href="/usernews/{{user.username}}/0">user news</a>
</li>
</ul>
</div>
<br>
<form name="f"><label for="email">
email (not visible, used for gravatar)
</label>
<br>
<input value="" type="text" size="40" name="email" id="email"><br>
<label for="password">
change password (optional)
</label>
<br>
<input type="password" size="40" name="password"><br>
<label for="about">
about
</label>
<br>
<textarea cols="60" rows="10" name="about" id="about"></textarea><br>
<input value="Update profile" type="button" name="update_profile"></form><div id="errormsg">
</div>
<script>
                $(function() {
                    $("input[name=update_profile]").click(update_profile);
                });
            </script>

</div>
{% endblock %}

